/* File structure:**********
*
*  - App structure
*  - Robot's elements
*       - Face
*         - Eyes-Row
*         - Nose-Mouth
*  - Control panel
*       - Title
*       - Sub-title
*       - Controls
*  - MEDIA QUERIES AT THE END
*
*********************************************/
/*  */

.App {
    /* flex properties */
    display: flex;
    flex-direction: column;
    /* box model */
    height: calc(100vh - 10px);
    border: 5px solid black;
}

.main-container {
    /* flex properties */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* styling */
    /*background-image: url("../public/media/background.jpg");*/
    background-image: url("media/background.jpg");
    background-repeat: no-repeat;
    background-position: right;
    /*background-size: cover;*/
}

/* ANIMATIONS ------------------------------- */
@keyframes blink-eyes {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* THE FACE ------------------------------- */
.face {
    /* flex properties */
    display: flex;
    flex-direction: column;
    /* box model */
    height: 300px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.51);
    margin: 10px auto;
    /* styling */
    border-radius: 4px;
    background-color: #ffb900;
    box-shadow: 0 0 15px rgba(59, 53, 37, 0.8);
}

.eyes-row {
    /* flex properties */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* box model */
    width: 100%;
    height: 100px;
    /* styling */
}

.eye {
    /* flex properties */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* box model */
    border: 5px solid brown;
    width: 35px;
    height: 40px;
    /* styling */
    background-color: deepskyblue;
    border-radius: 50%;
}

.girl-of-the-eye {
    background-color: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

/* nose-mouth */
.nose-mouth {
    /* flex properties */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nose-row {
    /* flex properties */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nose {
    height: 20px;
    width: 20px;
    background-color: darkred;
}

.mouth {
    flex: 1;
    display: flex;
    margin: 20px;
    border: 3px solid crimson;
    background-color: floralwhite;
}

/* CONTROL PANEL STYLING */
.control-panel {

}

.app-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app-subtitle {
    border-top: 2px solid black;
    margin: 0;
    padding: 10px;
    font-weight: lighter;
    font-style: italic;
    text-align: justify;
    font-size: medium;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}


/*MEDIA QUERIES*/
@media all and (min-width: 768px){
    .face {
        position: relative;
        left: -80px;
        top: -150px;
    }
    .main-container {
        background-position: center;
    }
}